{% extends 'base.html.twig' %}


{% block body %}
	<div class="bg-white p-5 contact-form">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="form-group">
			{{ form_start(our_form) }}
			{{ form_row(our_form.firstName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_start(our_form) }}
			{{ form_row(our_form.lastName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			<input type="submit" value="Send" class="btn btn-primary py-2 px-3 rounded-0">
			<input type="reset" value="Cancel" class="btn btn-danger py-2 px-3 rounded-0">
		</div>
		{{ form_end(our_form) }}
	</div>

</div>{% endblock %}
